Hello [[USERNAME]],

Your Yoda account has successfully been activated.
You can now use your credentials (your e-mail address and the password you
provided earlier) to login to https://{{ yoda_portal_fqdn }}.

If you have any issues, please contact your Yoda point of contact.

Kind regards,

The Yoda External User Service
