<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Yoda account activation</h3>
            </div>
            <div class="panel-body">
                <p>
                    Your account has been succesfully activated.
                    <br>
                    You can now use your credentials to login to <a href="https://{{ yoda_portal_fqdn }}/user/login" target="_blank"><b><u>your Yoda instance</b></u></a>.
                </p>
            </div>
        </div>
    </div>
</div>

