{% raw %}
{% extends 'base.html' %}

{% block title %}{{ super() }} &dash; Yoda account activation{% endblock title %}

{% block style %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
{% endblock style %}

{% block content %}
<div class="row">
    <div class="offset-md-2 col-md-8">
        <div class="card">
            <div class="card-body">
{% endraw %}
            Your Yoda account has been activated. Go to the <a href="https://{{ yoda_portal_fqdn }}">main Yoda portal</a>.
{% raw %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% endraw %}
