{% raw %}
{% extends 'base.html' %}

{% block title %}{{ super() }} &dash; Yoda change password{% endblock title %}

{% block style %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
{% endblock style %}

{% block content %}
<div class="row">
    <div class="offset-md-2 col-md-8">
        <div class="card">
            <div class="card-body">
            <p> 
{% endraw %}
            Your password has been updated. You can now use your new password in the <a href="https://{{ yoda_portal_fqdn }}">main Yoda portal</a>.
{% raw %}
           </p>
           </div>
        </div>
    </div>
</div>
{% endblock content %}
{% endraw %}
