<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><?php echo escape_html($data['title']) ?></title>
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="<?php echo base_url('/static/lib/bootstrap/css/bootstrap.min.css')?>">
    <link rel="stylesheet" href="<?php echo base_url('/static/css/eus.css') ?>">
    <script src="<?php echo base_url('/static/lib/jquery/js/jquery.min.js') ?>"></script>
    <script src="<?php echo base_url('/static/lib/bootstrap/js/bootstrap.min.js') ?>"></script>
    <script src="<?php echo base_url('/static/js/main.js') ?>"></script>
</head>
<body>

<div class="brandbar container">
    <div class="logo pull-left">
        <a href="{{ IMGURLDIRECT }}">
            <img src="<?php echo base_url('/static/img/logo.svg')?>">
        </a>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<?php echo base_url()?>">Yoda External User Service</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
            </ul>
        </div>
    </div>
</nav>
<div class="container page">
