# {{ ansible_managed }}
# davrods-vhost.conf
#
# davrods is a mod_dav WebDAV provider. Configuration directives for davrods
# should be placed in a <Location> block.
#
# Below we provide an example vhost configuration that enables davrods using
# its default options.
#

<VirtualHost *:80>
    ServerName {{ yoda_davrods_fqdn }}

    # Always redirect to https.
    Redirect / https://{{ yoda_davrods_fqdn }}/
</VirtualHost>

{# if yoda_davrods_port != 443 #}
#Listen {{ yoda_davrods_port }}
{# endif #}

<VirtualHost *:{{ yoda_davrods_port }}>

    # Enter your server name here.
    ServerName {{ yoda_davrods_fqdn }}

    # NB: Some webdav clients expect the server to implement webdav at the root
    # location (they execute an OPTIONS request to verify existence of webdav
    # protocol support).

    <Location />

        # Options needed to enable davrods.
        # =================================

        # Disable built-in Apache directory listings - Davrods will
        # provide this instead.
        DirectoryIndex disabled

        # Restrict access to authenticated users.
        AuthType Basic
        Require valid-user

        # The realm name that will be shown to clients upon authentication
        AuthName DAV

        # Use the 'irods' HTTP basic authentication provider, implemented by
        # davrods. This provider is used for setting up the iRODS connection,
        # and is therefore required for davrods to function.
        AuthBasicProvider irods

        # The DAV provider for this location.
        #
        # davrods implements multiple dav providers, use either:
        # - davrods-nolocks:                 WebDAV class 1 provider, no support for locking
        # - davrods-locallock (recommended): WebDAV class 2 provider, uses a DBM lock database local to this webserver
        #
        Dav davrods-locallock

        # davrods configuration directives.
        # =================================

        # Location of the iRODS environment file that specifies the iRODS
        # client configuration used by davrods.
        #
        # Note: When options in the iRODS environment file overlap with Davrods
        # configuration directives, as with the host, port, and zone of the
        # iRODS server, the values specified in the iRODS environment file are
        # NOT used.
        #
        DavRodsEnvFile  /etc/httpd/irods/irods_environment.json

        # The following options can be used to customize davrods for your environment.
        # These options and their default values are provided below.
        # Having these directives commented out has the effect of enabling
        # the listed default option.

        # Hostname and port of the iRODS server to connect to.
        #
        DavRodsServer          {{ irods_icat_fqdn }} {{ irods_icat_port }}

        # Data grid zone id of the iRODS server.
        #
        DavRodsZone            {{ irods_zone }}

        # Authentication type to use when connecting to iRODS.
        #
        # Supported authentication types are 'Native' and 'Pam'.
        # ('Native' corresponds to what was formerly called 'Standard' auth in iRODS).
        #
        DavRodsAuthScheme      {{ irods_authentication_scheme }}

        # Anonymous mode switch.
        #
        # (default: Off)
        # When 'Off', basic authentication is required to log into
        # Davrods. AuthType must be set to 'Basic' and AuthBasicProvider
        # must be set to 'irods'. There must also be a 'Require valid-user'
        # line.
        #
        # When 'On', Davrods will log into iRODS with a preset
        # username and password (See options DavRodsAnonymousLogin and
        # DavRodsAuthScheme). AuthType must be unset, or set to None,
        # and there should be no 'Require valid-user' line
        # (instead: Require all granted).
        #
        # This allows users to access Davrods without being prompted
        # for a login, making public access and embedding in web pages
        # easier.
        #DavRodsAnonymousMode Off

        # iRODS authentication options for Davrods anonymous mode.
        #
        # This option is used only when DavRodsAnonymousMode is set to
        # 'On'.
        #
        # Specifies the username and password to use for anonymous login.
        # The default value is 'anonymous', with an empty password.
        # (this user, if created, is treated specially within iRODS)
        #
        # The special 'anonymous' iRODS user normally requires the
        # DavRodsAuthScheme to be set to Native.
        #
        #DavRodsAnonymousLogin "anonymous" ""

        # iRODS default resource to use for file uploads.
        #
        # Leave this empty to let the server decide.
        #
        #DavRodsDefaultResource ""

        # Exposed top collection of iRODS.
        #
        # Note that the collection chosen MUST be readable for all users,
        # otherwise they will experience problems when mounting the drive.
        # For example, if you set it to "Home", then as a rodsadmin user
        # execute the icommand: ichmod read public /zone-name/home
        #
        # Davrods accepts the following values for exposed-root:
        # - 'Zone'      (collection /zone-name)
        # - 'Home'      (collection /zone-name/home)
        # - 'User'      (collection /zone-name/home/logged-in-username)
        # - full-path   (named collection, must be absolute path, starts with /)
        #
        DavRodsExposedRoot     Home

        # Size of the buffers used for file transfer to/from the iRODS server.
        #
        # The default values optimize performance for regular configurations.
        # The Tx buffer is used for transfer to iRODS (PUT), while the Rx
        # buffer is used for transfer from iRODS (GET).
        # Buffer sizes lower than 1024K will lead to decreased file transfer performance.
        #
        # The buffer sizes are specified as a number of kibibytes ('1' means 1024 bytes).
        # We use 4 MiB transfer buffers by default.
        #
        #DavRodsTxBufferKbs     4096
        #DavRodsRxBufferKbs     4096

        # Optionally davrods can support rollback for aborted uploads. In this scenario
        # a temporary file is created during upload and upon succesful transfer this
        # temporary file is renamed to the destination filename.
        # NB: Please note that the use of temporary files may conflict with your iRODS
        # data policies (e.g. a acPostProcForPut would act upon the temporary filename).
        # Valid values for this option are 'Yes' and 'No'.
        #
        #DavRodsTmpfileRollback No

        # When using the davrods-locallock DAV provider (see the 'Dav'
        # directive above), this option can be used to set the location of the
        # lock database.
        #
        #DavRodsLockDB          /var/lib/davrods/lockdb_locallock

        # Davrods provides read-only HTML directory listings for web browser access.
        # The UI is basic and unstyled by default, but can be modified with three
        # theming directives.
        #
        # Each of these directives points to a local HTML file that must be readable
        # by the apache user.
        #
        # The default value for each of these is "", which disables the option.
        #
        # - DavRodsHtmlHead   is inserted in the HEAD tag of the listing.
        # - DavRodsHtmlHeader is inserted at the top of the listing's BODY tag.
        # - DavRodsHtmlFooter is inserted at the bottom of the listing's BODY tag.
        #
        # Example HTML files are provided in /etc/httpd/irods. You should edit these
        # before enabling them.
        #
        # To see an example, uncomment the following three lines:
        #
        DavRodsHtmlHead   "/etc/httpd/irods/head.html"
        DavRodsHtmlHeader "/etc/httpd/irods/header.html"
        DavRodsHtmlFooter "/etc/httpd/irods/footer.html"
    </Location>

    # Set the timeout to a day to permit large uploads.
    TimeOut 86400

    # intermediate TLS configuration
    SSLEngine               on
    SSLProtocol             all -SSLv3
    SSLCipherSuite          ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES256-SHA:ECDHE-ECDSA-DES-CBC3-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:DES-CBC3-SHA:!DSS
    SSLHonorCipherOrder     on
    SSLCompression          off

    # Logging of access to webdav
    SetEnvIf Remote_Addr "127\.0\.0\.1" dontlog
    SetEnvIf Request_URI "^/favicon\.ico$" dontlog
    SetEnvIf Request_Method "^OPTIONS$" dontlog
    CustomLog /var/log/httpd/webdav_access.log common env=!dontlog

    # HSTS (mod_headers is required) (31536000 seconds = 1 year)
    Header always set Strict-Transport-Security "max-age=31536000"

    #   Server Certificate:
    #   Point SSLCertificateFile at a PEM encoded certificate.  If
    #   the certificate is encrypted, then you will be prompted for a
    #   pass phrase.  Note that a kill -HUP will prompt again.  A new
    #   certificate can be generated using the genkey(1) command.
    SSLCertificateFile      {{ openssl_certs_dir }}/{{ openssl_crt_signed_and_chain }}

    #   Server Private Key:
    #   If the key is not combined with the certificate, use this
    #   directive to point at the key file.  Keep in mind that if
    #   you've both a RSA and a DSA private key you can configure
    #   both in parallel (to also allow the use of DSA ciphers, etc.)
    SSLCertificateKeyFile   {{ openssl_private_dir }}/{{ openssl_key_signed }}
</VirtualHost>
