<!-- start header.html -->
<div class="brandbar container">
    <div class="pull-left">
        <a class="logo" href="{{ yoda_davrods_logo_link }}"></a>
    </div>
</div>

<nav class="class="navbar navbar-dark my-2"">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">{{ PORTALTABTEXT }}</a>
        </div>
    </div>
</nav>

<div class="container page yoda-table">
    <p>You are viewing files in a web browser. For a better user experience we recommend that you open/map this location as a network drive using <span id="location">the complete URL</span> as location.</p>
    <script type="text/javascript">
        document.getElementById("location").textContent = window.location.toString();
    </script>
<!-- end header.html -->

