<!doctype html>
<html lang="en">
        <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

                <meta name="description" content="{{ PUBLICTABTEXT }}">
                <meta name="author" content="Utrecht University">
                <title>{{ PUBLICTABTEXT }}</title>

                <link href="/static/css/bootstrap.min.css?v=1559637767" rel="stylesheet"/>
                <link href="/static/css/uu.css?v=1559637767" rel="stylesheet"/>
        </head>
        <body>
                <div class="container bg-white no-padding">
                        <header>
                                <div class="logo pt-2">
                                        <img src="/static/img/logo.svg">
                                </div>
                                <div class="header-title">
                                        <h1>{{ PUBLICTABTEXT }}</h1>
                                </div>
                        </header>
                        <main>
                          <section class="content">
			        <br />
                                <h2>About Yoda</h2>
				<br />
                                <dl>
                                <dt>Name of repository:</dt>
                                <dd>Yoda</dd>

                                <dt>Description:</dt>
                                <dd>Yoda is a data repository built by Utrecht University and maintained by SURF for {{ INSTITUTIONNAME }}. Yoda can store and share all kinds of scientific research data in a safe way (encrypted, stored in multiple geo locations). Yoda takes care of publishing research data with its metadata as datasets and making them findable for different harvesters. Yoda, short for Your data, is an integrated digital environment to support all kind of researchers from different backgrounds during  and after their research. Yoda is based on open source software iRODS. During the development of the key features the most important aim was to make daily life of researchers more easy as far as data management and the requirements of funders are concerned.
                                </dd>

                                <dt>Contact us</dt>
                                <dd>For more information please contact <a href="https://www.uu.nl/en/research/research-data-management/contact-us" target="_blank">https://www.uu.nl/en/research/research-data-management/contact-us</a>
                                </dd>
                                </dl>

                                <h3>Search in data packages</h3>
                                <p>Yoda publishes data packages via DataCite. To find data publications the DataCite search engine can be used: <a href="https://search.datacite.org/repositories/delft.uu" target="_blank">https://search.datacite.org/repositories/delft.uu</a>
                                <br /><br /><br />
                            </section>
                        </main>
                        <footer>
                                <div class="logo">
                                        <img src="/static/img/logo_footer.svg">
                                </div>
                        </footer>
                </div>
        </body>
</html>
