<div class="header-logo">
    <img src="static/img/splash" alt="" title="" id="logo-1200" class="header-logo-img">
    <div class="header-logo-text-background">
        <div class="header-logo-text-content">
            <h1>Welcome to Yoda!</h1>
            <p>
                Yoda is a share-collaborate environment for research data.
            </p>
        </div>
        <a class="header-logo-text-link" href="https://servicedesk.surfsara.nl/wiki/display/WIKI/Getting+started+with+the+Yoda+portal" target="_blank">Help<span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>

