<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Data Publication platform of Vrije Universiteit Amsterdam" />
    <title>{{ persistent_identifier_datapackage.Identifier_Scheme }}: {{ persistent_identifier_datapackage.Identifier }} - Data Publication platform of Vrije Universiteit Amsterdam</title>

    <link href="/static/css/bootstrap.min.css?v=1559637767" rel="stylesheet" />
    <link href="/static/css/uu.css?v=1559637767" rel="stylesheet" />
</head>

<body>
    <div class="container bg-white no-padding">
        <header>
            <div class="logo pt-2">
                <img src="/static/img/logo.svg"/>
				</div>
                <div class="header-title">
                    <h1>Data publication platform of Vrije Universiteit Amsterdam</h1>
                </div>
        </header>
        <main>
            <section class="content">
                <br /><br />
                <p>This data package ({{ persistent_identifier_datapackage.Identifier_Scheme }}: {{ persistent_identifier_datapackage.Identifier }}) has been made temporarily unavailable.</p>
                <br /><br />
				</section>
                <hr />
                <section class="questions">
                    <h2>Questions?</h2>
                    <div class="col text-center">
                        <a href="https://ub.vu.nl/en/university-library-for-researchers/research-data-support/support-desk/index.aspx" class="btn btn-secondary support-btn" target="_blank">
							Research data management support
						</a>
                    </div>
                </section>
        </main>
        <footer>
            <div class="logo">
                <img src="/static/img/logo_footer.svg"/>
				</div>
        </footer>
    </div>
</body>

</html>
